@import "../../variables.scss";

.chartArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color-primary-light;
}

.main {
  height: 100%;
  font-size: 1.6rem;
  overflow-y: scroll;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__input {
    flex: 1;
    height: 5rem;
    border: 1px solid $color-primary-light;
    padding: 3rem;
    font-size: 1.6rem;
  }

  &__submit {
    padding: 2rem;
    background-color: $color-my-text;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: $shadow;
  }
}

.chat {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;

  &__text {
    background-color: $color-primary;
    width: 10rem;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: $shadow;
    word-wrap: break-word;

    display: flex;
    flex-direction: column;

    &--small {
      font-size: 1.3rem;
      align-self: flex-end;
      padding-bottom: 0.5rem;
    }
  }
}

.my-chat {
  justify-content: flex-end !important;

  &__color {
    background-color: $color-my-text !important;
  }
}
